.App {
  text-align: center;
  min-height: 100vh;
  color: white;
  background-color: #282c34;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header img {
  width: 100px;
  height: auto;
}

.App-header h2 {
  padding-left: 50px;
}

.App-link {
  color: #61dafb;
}

.block-details {
  width: 20%;
  margin: 2em 10% 0 15%;
}

label {
  float: left;
}

Button {
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
